@model MoviesWebApplication.Models.MoviesModel
@using System.Security.Principal

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        .posters {
            width: 300px;
            height: 400px;
        }

        .errorPosters {
            width: 250px;
            height: 350px;
        }

        .font {
            font-size: 17px;
        }
        .box {
            position: relative;
            display: inline-block; /* Make the width of box same as image */
        }

            .box .text {
                position: absolute;
                z-index: 999;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 45%; /* Adjust this value to move the positioned div up and down */
                text-align: center;
                width: 60%; /* Set the width of the positioned div */
                color: white;
                font-size: 25px;
            }
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/scripts/jquery.js"></script>
</head>
<body>
    <h1>Movie Details</h1>
    <br />
    <div class="text-black container">
        <br />
        <div class="detailbox row">
            <div class="col-md-4 col-sm-10">
                <div id="article_table"></div>
            </div>
            <div class="col-md-8 col-sm-10">
                <div class="row pr-3">
                    <div class="col-md-6">
                        <h4>@Model.Name</h4>
                        <br />
                        <h6 style="display:inline;" id="rating">Rating: </h6>
                        <h6 style="display:inline;" id="votes"> (</h6><h6 id="votes2" style="display:inline;"> votes)</h6>

                        @if (Model.Votes > 0)
                        {
                            <div class="row" style="align-self:center">
                                <div style="float: left;">
                                    @for (var i = 1; i <= Model.Rating; i++)
                                    {
                                        <span class="starGlowN"></span>
                                    }
                                    @for (var i = (Model.Rating + 1); i <= 10; i++)
                                    {
                                        <span class="starFadeN"></span>
                                    }
                                </div>
                            </div>
                        }
                        <p class="font" id="about"></p>
                        <h6 id="category">Category : </h6>
                        <br />  
                        <div>
                            <button id="btnShowModal" type="button" class="btn btn-dark">Add to Top List</button>
                            <div class="modal fade" tabindex="-1" id="chooseModal"
                                 data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Choose Toplists:</h4>
                                            <button type="button" class="close" data-dismiss="modal">
                                                ×
                                            </button>
                                        </div>
                                        @if (Model.Toplists.Count() <= 0)
                                        {
                                            <div class="modal-body">
                                                <h6>There are no Toplists. Please create some.</h6>
                                            </div>
                                        }
                                        else
                                        {
                                            <form asp-action="Details">
                                                <div class="modal-body">
                                                        @foreach (var toplist in Model.Toplists)
                                                        {
                                                            <div class="form-group form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" asp-for="@toplist.IsSelected" /> @toplist.ToplistName @*@Model.Toplists.First(p => p.ToplistId == toplist.ToplistId).IsSelected*@
                                                                </label>
                                                                <input type="hidden" name="@toplist.ToplistName" value="@toplist.IsSelected" />
                                                            </div>
                                                        }
                                                        <input type="hidden" name="MovieId" value="@Model.Id" />
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-dark">Save</button>
                                                        <button type="button" id="btnHideModal" class="btn btn-dark"> Cancel </button>
                                                    </div>
                                                </div>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <h4>More information</h4>
                        <br />
                        <h6 id="director">Director : </h6>
                        <h6 id="writer">Writer: </h6>
                        <h6 id="actors">Actors: </h6>
                        <h6 id="year">Year: </h6>
                        <h6 id="release">Release: </h6>
                        <h6 id="country">Country: </h6>
                        <h6 id="language">Language: </h6>
                        <div style="align-content:center">
                            <partial name="_RatePartial" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>

</body>
</html>

<script>

$(document).ready(function () {
    $.getJSON('https://www.omdbapi.com/?apikey=' + '4713f8' + '&i=tt' + @Model.Id , function (data) {
        //a0b6e7bc
        //74e33cd2

        var about_data = data.Plot;
        var director_data = data.Director;
        var actors_data = data.Actors;
        var runtime_data = data.Runtime;
        var release_data = data.Released;
        var category_data = data.Genre;
        var writer_data = data.Writer;
        var language_data = data.Language;
        var country_data = data.Country;
        var year_data = data.Year;
        var rating_data = @Model.Rating;
        var votes_data = @Model.Votes;
        var noData = "data unavailable";

        console.log(@Model.Id);
        var title = data.Title;
        var article_data = '';
        if (data.Poster == "N/A" || data.Poster == null) {
            article_data += '<div class="box"><img src="/Images/black.jpg" alt=" ' + data.Title + ' "  id="' + data.Title + '" class="posters" /><div alt=" ' + data.Title + ' "  id="' + data.Title + '" class="text"><h6>' + title + '</h6></div></div>';
        } else {
            article_data += '<img src=" ' + data.Poster + ' " alt=" ' + data.Title + ' "  id="' + data.Title + '" class="posters"/>';
        }
        if (data.Plot == "N/A" || data.Plot == null) {
            about_data = "";
            $('#about').append(about_data);
        } else {
            $('#about').append(about_data);
        }
        if (data.Genre == "N/A" || data.Genre == null) {
            category_data = noData;
            $('#category').append(category_data);
            
        } else {
            $('#category').append(category_data);
        }

        if (votes_data == 0) {
            $('#votes2').hide();
            $('#votes').hide();
        } else {
            $('#votes').append(votes_data);
        }

        if (rating_data == 0) {
            rating_data = noData;
            $('#rating').append(rating_data);
        } else {
          
            $('#rating').append(rating_data);
        }

        if (data.Actors == "N/A" || data.Actors == null) {
            actors_data = noData;
            $('#actors').append(actors_data);
        } else {
            $('#actors').append(actors_data);
        }

        if (data.Director == "N/A" || data.Actors == null) {
            director_data = noData;
            $('#director').append(director_data);
        } else {
            $('#director').append(director_data);
        }

        if (data.Released == "N/A" || data.Released == null) {
            release_data = noData;
            $('#release').append(release_data);
        } else {
            $('#release').append(release_data);
        }


        if (data.Writer == "N/A" || data.Writer == null) {
            writer_data = noData;
            $('#writer').append(writer_data);
        } else {
            $('#writer').append(writer_data);
        }

        if (data.Runtime == "N/A" || data.Runtime == null) {
            runtime_data = noData;
            $('#runtime').append(runtime_data); 
        } else {
            $('#runtime').append(runtime_data); 
        }

        if (data.Country == "N/A" || data.Country == null) {
            country_data = noData;
            $('#country').append(country_data);
        } else {
            $('#country').append(country_data);
        }

        if (data.Language == "N/A" || data.Language == null) {
            language_data = noData;
            $('#language').append(language_data);
        } else {
            $('#language').append(language_data);
        }

        if (data.Year == "N/A" || data.Year == null) {
            year_data = noData;
            $('#year').append(year_data);
        } else {
            $('#year').append(year_data);
        }

        $('#article_table').append(article_data);


    });
});

    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#chooseModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#chooseModal").modal('hide');
        });
    });

    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display != "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
