@model IEnumerable<MoviesWebApplication.Models.MoviesModel>
@{ ViewData["Title"] = "Popular"; }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        .posters {
            width: 150px;
            height: 200px;
        }

        #text {
            font-size: 18px;
        }

        table tr {
            border: solid 1px;
            border-color: lightgrey;
        }
    </style>

    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js" integrity="" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/scripts/jquery.js"></script>
</head>

<body>
    <h1>Popular</h1>
    <div id="cardContainer"></div>
</body>
</html>

@if (Model.Count() > 0)
{
<script>
        $(document).ready(function () {
            var contentString = [];
            @{ int count = 0;}
            for (var i = 0; i < @Model.Count(); i++) {
                $.getJSON('https://www.omdbapi.com/?apikey=' + 'f8b2e37a' + '&i=tt' + @Model.ElementAt(count).Id , function (data) {
                    console.log(@Model.ElementAt(count).Id);
              contentString[i] = '<table>' +
                        '<tbody>' +
                        '<tr>' +
                        '<th style="width: 100px; text-align:center; font-size: 22px">' +
                        (i + 1) +
                        '</th>' +
                        '<th style="width: 210px;">' +
                        '<img src=' + data.Poster + ' class="posters" />' +
                        '</th>' +
                        '<th style="width: 590px;" id="text">' +
                        data.Title +
                        '</th>' +
                        '<th style="width: 200px;">' +
                        '<img style="width: 18px; height: 20px;" src="/Images/Star.png" />' + ' ' + @Model.ElementAt(count).Rating + ' (' + @Model.ElementAt(count).Votes + ' votes)' +
                        '</th>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table></br>';
                    ;
            $('#cardContainer').append(contentString[i]);
                });
                 @{count++;}
            };
        });
</script>
}
else
{
    <h4>No Movies Available Right Now</h4>
}